.Board {
    display: grid;
    grid-template: repeat(6, 100px) / repeat(6, 100px);
}

.Square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Square:hover {
    cursor: pointer;
}