.Board {
    display: grid;
    grid-template: 40px auto / 30px auto;
}

.Counts {
    display: grid;
}

.Counts p {
    justify-self: center;
}

.Inner {
    display: grid;
}

.Square {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Square:hover {
    cursor: pointer;
}
